extends layout

block content
    h1= title

    form(method="POST")
        label(for="name") Name:
        input(type="text", placeholder="Car Name", name="name")
        label(for="manufacturer") Manufacturer:
        select(name="manufacturer" required)
            option(value="") Please Select A Manufacturer
            for manufacturer in manufacturers
                if car
                    if manufacturer._id.toString() === car.manufacturer._id.toString()
                        option(value=manufacturer._id selected) #{manufacturer.name}
                    else
                        option(value=manufacturer._id) #{manufacturer.name}
                else
                    option(value=manufacturer._id) #{manufacturer.name}

        for bodyType in bodyTypes
            div
                label(for="bodyType") Body Type:
                if bodyType.checked
                    input(type="checkbox", name="bodyType", id=bodyType._id, value=bodyType._id checked)
                else
                    input(type="checkbox", name="bodyType", id=bodyType._id, value=bodyType._id)

        label(for="productionStartYear") Production Start Year:
        input(type="text", placeholder="Production Start Year", name="productionStartYear")
        label(for="productionEndYear") Production End Year:
        input(type="text", placeholder="Production End Year", name="productionEndYear")
        label(for="amntInStock") Ammount In Stock:
        input(type="text", placeholder="Ammount In Stock", name="amntInStock")
        label(for="price") Price:
        input(type="text", placeholder="Price", name="price")
        button(type="submit") Submit


        if errors
            ul
                for error in errors
                    p(style="color: red;") #{error.msg}  
       
