extends layout

block content
    h1= title

    form(method="POST")
        label(for="name") Name:
        input(type="text" placeholder="Car Name" name="name" required value=(undefined === car ? '' : car.name))
        label(for="manufacturer") Manufacturer:
        select(name="manufacturer" required)
            option(disabled value=(undefined === car.manufacturer ? "" : car.manufacturer.name)) Please Select A Manufacturer
            for manufacturer in manufacturers
                if car
                    if manufacturer._id.toString() === car.manufacturer._id.toString()
                        option(value=manufacturer._id selected) #{manufacturer.name}
                    else
                        option(value=manufacturer._id) #{manufacturer.name}
                else
                    option(value=manufacturer._id) #{manufacturer.name}
        
        label(for="bodyType") Body Type:
        select(name="bodyType" required)
            option(disabled value=(undefined === car.bodyType ? "" : car.bodyType.type)) Please Select A Body Type
            for bodyType in bodyTypes
                if car
                    if bodyType._id.toString() === car.bodyType._id.toString()
                        option(value=bodyType._id selected) #{bodyType.type}
                    else
                        option(value=bodyType._id) #{bodyType.type}
                else
                    option(value=bodyType._id) #{bodyType.type}

        label(for="productionStartYear") Production Start Year:
        input(type="number", placeholder="Production Start Year", name="productionStartYear" required value=(undefined === car ? "" : car.productionStartYear))
        label(for="productionEndYear") Production End Year:
        input(type="number", placeholder="Production End Year", name="productionEndYear" required value=(undefined === car ? "" : car.productionEndYear))
        label(for="amntInStock") Ammount In Stock:
        input(type="number", placeholder="Ammount In Stock", name="amntInStock" required value=(undefined === car ? "" : car.amntInStock))
        label(for="price") Price:
        input(type="number", placeholder="Price", name="price" required value=(undefined === car ? "" : car.price))
        button(type="submit") Submit


        if errors
            ul
                for error in errors
                    p(style="color: red;") #{error.msg}  
       
