extends layout

block content
  h1= title
  p(className="bg-black") Welcome to #{title}

  h1 Dynamic content

  p The collection has the following recorded counts:

  ul
    li #[strong Different Cars:] !{car_count}
    li #[strong Manufacturer:] !{manufacturer_count}
    li #[strong Body Types:] !{bodyType_count}

  h2 View all
  
  ul
    li
      a(href="./cars/cars") Cars
    li
      a(href="./cars/manufacturers") Manufacturers
    li
      a(href="./cars/bodyTypes") Body Types
